<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-events-heading" jhiTranslate="iJustWannaRunApp.events.home.createOrEditLabel">Create or edit a Events</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iJustWannaRunApp.events.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iJustWannaRunApp.events.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iJustWannaRunApp.events.regStart" for="field_regStart">Reg Start</label>
                    <div class="d-flex">
                        <input id="field_regStart" type="datetime-local" class="form-control" name="regStart" formControlName="regStart" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iJustWannaRunApp.events.regEnd" for="field_regEnd">Reg End</label>
                    <div class="d-flex">
                        <input id="field_regEnd" type="datetime-local" class="form-control" name="regEnd" formControlName="regEnd" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iJustWannaRunApp.events.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="PLAN">{{'iJustWannaRunApp.EventStatus.PLAN' | translate}}</option>
                        <option value="OPEN">{{'iJustWannaRunApp.EventStatus.OPEN' | translate}}</option>
                        <option value="CLOSED">{{'iJustWannaRunApp.EventStatus.CLOSED' | translate}}</option>
                        <option value="COMPLETE">{{'iJustWannaRunApp.EventStatus.COMPLETE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iJustWannaRunApp.events.kind" for="field_kind">Kind</label>
                    <select class="form-control" name="kind" formControlName="kind" id="field_kind">
                        <option value="RUNNING">{{'iJustWannaRunApp.EventKind.RUNNING' | translate}}</option>
                        <option value="SWIMMING">{{'iJustWannaRunApp.EventKind.SWIMMING' | translate}}</option>
                        <option value="BIKE">{{'iJustWannaRunApp.EventKind.BIKE' | translate}}</option>
                        <option value="TRIATHLON">{{'iJustWannaRunApp.EventKind.TRIATHLON' | translate}}</option>
                        <option value="SKIING">{{'iJustWannaRunApp.EventKind.SKIING' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iJustWannaRunApp.events.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iJustWannaRunApp.events.distances" for="field_distances">Distances</label>
                    <select class="form-control" id="field_distances" name="distances" formControlName="distances">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="distanceOption.id === editForm.get('distances')!.value?.id ? editForm.get('distances')!.value : distanceOption" *ngFor="let distanceOption of distances; trackBy: trackById">{{distanceOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
